.App {
  padding-top: 2em;
  text-align: center;
  background-color: #1D1D1D;
}

.title-page {
  color: #5DA93C!important;
}

.btn-search {
  background-color: #5DA93C!important;
  color: #fff!important;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

.MoviesList-item {
  margin-bottom: 1.5em;
  width: 48%;
}

.card-css {
  border-radius: 8%;
}

.image img {
  border-radius: 8% 8% 0 0;
}